<%- include("./partials/header.ejs") %>

<h2> This is the main page</h2>

<form action="/submit" method="POST">
    <label for="blogTitle">Blog Title</label><br>
    <input type="text" name="blogTitle" id="blogTitle" value="Type your blog title here"><br>
    <label for="blogContent">Blog main content</label><br>
    <textarea name="blogContent" id="blogContent" cols="30" rows="10">Type your blog post here</textarea><br>
    <label for="authorName">Author's Name</label><br>
    <input type="text" name="authorName" id="authorName" value="Type your name here"><br>
    <input type="submit" value="Submit"><br>
</form>

<% posts.forEach(function(post) { %>
    <div class="post">
        <h1><%= post.blogTitle %></h1>
        <p><%= post.blogPostContent %></p>
        <p>This post was created on <%= post.dateCreated %> by <%= post.author %></p><br>
        <p>The post id = <%= post.id %></p>
        <form action="/delete/<%= post.id %>" method="POST" onsubmit="return confirm('Are ya sure ya wanna delete it bucko?');">
            <input type="submit" value="delete">
        </form>
    </div>
<% }); %>


<%- include("./partials/footer.ejs") %>
